*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
nav{
    background-color: rgba(17, 24, 39, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 40px 80px;
}
a{
    color: white;
    text-decoration: none;
}
.sign{
    background-color: #111827;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 60px;
    margin-left: 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.navigation{
    padding-left: 30px;
}
.section1{
    background-color: rgba(17, 24, 39, 0.9);
    color: white;
}
.img{
    width: 80%;
    margin-top: 40px;
    margin-inline: auto;
    display: block;
    border-radius: 10px 10px 0 0;
}
.section1 h1{
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    max-width: 800px;
    margin-inline: auto;
    padding-top: 80px;
}
.ptg{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 30px;
}
.ptag{
    color: rgba(255, 255, 255, 0.7); 
    text-align: center;
    padding-top: 20px;
}
.get{
    background-color: #111827;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 20px;
    display: block;
    margin-inline: auto;
    max-width: fit-content;
    margin-top: 80px;
}
@media (max-width: 772px){
    .navigation{
        display: none;
    }
    .section1{
        padding: 20px;
    }
    .section1 h1{
        font-size: 40px;
    }
    nav{
        padding-inline: 30px;
    }
}
