*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
nav{
    background-color: rgba(17, 24, 39, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 40px 80px;
}
a{
    color: white;
    text-decoration: none;
}
.sign{
    background-color: #111827;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 60px;
    margin-left: 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.navigation{
    padding-left: 30px;
    font-family: sans-serif;
}
.section1{
    background-color: rgba(17, 24, 39, 0.9);
    color: white;
}
.img{
    max-width: 80%;
    margin-top: 40px;
    margin-inline: auto;
    display: block;
    border-radius: 10px 10px 0 0;
}
.section1 h1{
    font-size: 60px;
    text-transform: capitalize;
    text-align: center;
    max-width: 800px;
    margin-inline: auto;
    padding-top: 80px;
}
.ptg{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 30px;
}
.ptag{
    color: rgba(255, 255, 255, 0.7); 
    text-align: center;
    padding-top: 20px;
}
.get{
    background-color: #111827;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 20px;
    display: block;
    margin-inline: auto;
    max-width: fit-content;
    margin-top: 80px;
}
.section2{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-block: 80px;
    max-width: 1000px;
    align-items: center;
    padding-block: 50px;
    margin-inline: auto;
}
.section2-wrapper{
    background-color: #fff;
}
/* .text{
    padding-top: 190px;
    padding-left: 40px;
} */
.image{
    width: 360px;
    flex-shrink: 0;
}
.text p{
    font-size: 1.125rem;
    color: #00000066;
    line-height: 1.7;
}
.text h2{
    font-size: 35px;
    padding-bottom: 30px;
}
.text2 h2{
    font-size: 35px;
    padding-bottom: 30px;
}
.text2 p{
    font-size: 1.125rem;
    color: #00000066;
    line-height: 1.5;
}

.section3{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-block: 80px;
    padding-block: 50px;
    max-width:1000px;
    align-items: center;
    margin-inline: auto;
} 
.section3-wrapper{
   background-color: rgba(141, 132, 132, 0.178);
}
.section4{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-block: 80px; 
    padding-block: 50px;
    max-width: 1000px;
    margin-inline: auto;
    align-items: center;
}
.text3 h2{
    font-size: 35px;
    padding-bottom: 30px;
}
.text3 p{
    font-size: 1.125rem;
    color: #00000066;
    line-height: 1.5;
}
.text-gray-700 path{
    color: gray;
}
.text-gray-700{
    width: 20px;
}
.section5{
    background-color: rgba(17, 24, 39, 0.9);
    padding-block: 50px;
}
.text4{
    color: white;
    text-align: center;
}
.section4-wrapper{
    background-color: #fff;
}
.text4 h2{
    font-size: 35px;
    padding-bottom: 20px;
}
.text4 p{
    margin-inline: auto;
    font-size: 17px;
    line-height: 1.5;
    max-width: 560px;
    margin-bottom: 90px;
}
.flex1{
    background-color: white;
    width:370px;
    border-radius: 17px;
    overflow: hidden;
}
.button{
    background-color: #111827;
    color: white;
    padding: 15px 70px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}
.opaque{
    background-color: rgba(141, 132, 132, 0.603);
    padding: 20px;
}
.white{
    padding: 20px;
    padding-block: 50px;
}
.trial{
    background-color: rgba(5, 66, 145, 0.1);
    color: rgba(5, 66, 145, 0.5);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.price{
    font-size: 60px;
    font-weight: 800;
    padding-bottom: 20px;
}
.span{
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: 400;
}
footer{
    color: #766f6f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.left{
    text-align: end;
}
.first-footer img{
    width: 30px;
    padding-left: 10px;
}
.arrow{
    font-size: 12px;
}
@media (max-width: 772px){
    .navigation{
        display: none;
    }
    .section1{
        padding: 20px;
    }
    .section1 h1{
        font-size: 40px;
    }
    nav{
        padding-inline: 30px;
    }
    .section2{
        display: block;
        margin-block: 0;
    }
    .section3{
        display: block;
        margin-block: 0;
    }
    .image{
        width: 350px;
        margin-inline: auto;
        display: block;
    }
    .text2{
        padding-block: 30px;
    }
    .text{
        padding-block: 100px;
    }     
    .section4{
        display: block;
        margin-block: 0;
    }  
    .text3{
        padding-block: 50px;
    }                              
}
@media (max-width:1105px){
    .section2{
        padding-inline: 40px;
    }
    .section3{
        padding-inline: 40px;
    }
    .section4{
        padding-inline: 80px;
    }
}
@media (max-width:760px){
    .flex{
        display: block;
    }
    .flex1{
        width: 100%;
        margin-bottom: 20px;
    }
    .section5{
        padding: 20px;
    }
}